name: Server Release

on:
  push:
    tags:
      - "server/v[0-9]*.[0-9]*.[0-9]*"

permissions:
  id-token: write
  contents: write

jobs:
  build:
    name: "Build ${{ matrix.goos }}"
    runs-on: "ubuntu-latest"
    timeout-minutes: 10
    env:
      GOARCH: amd64
    strategy:
      fail-fast: true
      matrix:
        goos:
          - "linux"
          - "windows"
          - "darwin"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version-file: server/go.mod
      - name: "Extract Version"
        id: version
        run: echo "value=${GITHUB_REF_NAME#server/}" >> $GITHUB_OUTPUT
      - name: "Go Build"
        if: ${{ matrix.goos != 'windows' }}
        working-directory: ./server
        run: GOOS=${{ matrix.goos }} go build -v -trimpath -o ../cierge-${{ steps.version.outputs.value }}-${{ matrix.goos }}-amd64
      - name: "Go Build Windows"
        if: ${{ matrix.goos == 'windows' }}
        working-directory: ./server
        run: GOOS=${{ matrix.goos }} go build -v -trimpath -o ../cierge-${{ steps.version.outputs.value }}-${{ matrix.goos }}-amd64.exe
      - name: "Upload Artifact"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: cierge-${{ steps.version.outputs.value }}-${{ matrix.goos }}-amd64
          path: cierge-*
          if-no-files-found: error
          retention-days: 1

  release:
    name: "Create Release"
    runs-on: "ubuntu-latest"
    needs: build
    timeout-minutes: 10
    steps:
      - name: "Download All Artifacts"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131
        with:
          path: release
          merge-multiple: true
      - name: "Generate Checksums"
        run: |
          cd release
          sha256sum cierge-* > SHA256SUMS
          md5sum cierge-* > MD5SUMS
      - name: "Create Release"
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          generate_release_notes: true
          files: ./release/*
