name: Server Release

on:
  push:
    tags:
      - "server/v[0-9]*.[0-9]*.[0-9]*"

permissions:
  id-token: write
  contents: write
  packages: write

jobs:
  build:
    name: "Build ${{ matrix.goos }}-${{ matrix.goarch }}"
    runs-on: "ubuntu-latest"
    timeout-minutes: 10
    strategy:
      fail-fast: true
      matrix:
        goos:
          - "linux"
          - "windows"
          - "darwin"
        goarch:
          - "amd64"
          - "arm64"
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff
        with:
          go-version-file: server/go.mod
      - name: "Extract Version"
        id: version
        run: echo "value=${GITHUB_REF_NAME#server/}" >> $GITHUB_OUTPUT
      - name: "Go Build"
        if: ${{ matrix.goos != 'windows' }}
        working-directory: ./server
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -v -trimpath -ldflags="-X main.Version=${{ steps.version.outputs.value }}" -o ../cierge-${{ steps.version.outputs.value }}-${{ matrix.goos }}-${{ matrix.goarch }}
      - name: "Go Build Windows"
        if: ${{ matrix.goos == 'windows' }}
        working-directory: ./server
        run: GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} go build -v -trimpath -ldflags="-X main.Version=${{ steps.version.outputs.value }}" -o ../cierge-${{ steps.version.outputs.value }}-${{ matrix.goos }}-${{ matrix.goarch }}.exe
      - name: "Upload Artifact"
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: cierge-${{ steps.version.outputs.value }}-${{ matrix.goos }}-${{ matrix.goarch }}
          path: cierge-*
          if-no-files-found: error
          retention-days: 1

  release:
    name: "Create Release"
    runs-on: "ubuntu-latest"
    needs: build
    timeout-minutes: 10
    steps:
      - name: "Download All Artifacts"
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093
        with:
          path: release
          merge-multiple: true
      - name: "Generate Checksums"
        run: |
          cd release
          sha256sum cierge-* > SHA256SUMS
          md5sum cierge-* > MD5SUMS
      - name: "Create Release"
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
        with:
          generate_release_notes: true
          files: ./release/*

  docker:
    name: "Build and Push Docker Image"
    runs-on: "ubuntu-latest"
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
      - name: "Extract Version"
        id: version
        run: echo "value=${GITHUB_REF_NAME#server/}" >> $GITHUB_OUTPUT
      - name: "Set up QEMU"
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130
      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f
      - name: "Log in to GHCR"
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "Extract Image Metadata"
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051
        with:
          images: ghcr.io/daylamtayari/cierge/server
          tags: |
            type=match,pattern=server/v(.*),group=1
            type=raw,value=latest
            type=sha
      - name: "Build and Push"
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8
        with:
          context: .
          file: server/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: VERSION=${{ steps.version.outputs.value }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
